a:hover{
  text-decoration: none;
}
.matie{
  transition-duration:0.2s;
  height:120px;
  width: 150px;
  color:white;
}
.matie:hover{
  transition-duration:0.2s;
  height:125px;
  width: 155px;
  color:white;
}
.parent-card{
  position: relative;
  font-weight: bold;
}
.notif-card{
  position: absolute;
  background-color: white;
  color:red;
  border-radius: 100%;
  width: 30px;
  height: 30px;
  bottom:10px;
  right: 10px;
  border: solid 2px white;
}
