<div class="fullpage">
  <div class="post-it shadow rounded">
    <p class="sticky taped">
      <%= image_tag "funky.png", height:'110', width:'110', class: "funky" %>
      <br>
      <strong>Bienvenue sur <b>Datework</b></strong><br>
      _________<br><br>
      Datwork c'est quoi ?<br><br>
      Datework va te permettre de ranger et d'organiser ton agenda.<br>
      Commence par te créer un compte, et à toi de jouer !<br><br>
      <%= link_to "Inscription",new_user_registration_path, class: "inscris"%></%>
    </p>
  </div>
</div>

